@import url(reset.css);
body * {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #157ed8;
}
a:hover {
  color: #0c487b;
}

body {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border: 1px solid grey;
  border-radius: 5px;
}

.header-content {
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .header-content {
    padding: 20px;
  }
}
.header-content h1 {
  padding-bottom: 15px;
  font-size: 30px;
}
@media (min-width: 576px) {
  .header-content h1 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  .header-content h1 {
    font-size: 60px;
  }
}
.header-content span {
  padding-right: 10px;
  font-size: 20px;
}
.header-content .fa-github {
  font-size: 25px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .grid {
    margin-top: 20px;
  }
}

.grid-itm {
  flex: 0 1 100%;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.grid-itm:last-child {
  margin-bottom: 0px;
}
@media (min-width: 576px) {
  .grid-itm {
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 20px;
  }
}
.grid-itm img {
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.grid-content {
  padding: 20px;
}

.content-title {
  margin-bottom: 20px;
}
.content-title a {
  margin-right: 3px;
}
.content-title a:first-child {
  font-size: 25px;
}
.content-title a:last-child {
  margin-right: 0px;
}
.content-title a + a {
  font-size: 14px;
}
