.description {

	h2 {
		font-size: 4.3rem;
		font-family: $Lato;
		text-align: center;

		@include MQ($L) {
			font-size: 3.3rem;
		}

		@include MQ($M) {
			font-size: 2.7rem;
		}
	}

	.separator {
		@extend %separator;

		.post & {
			margin-bottom: 2.5rem;
		}
	}

	p {
		width: 79%;
		margin-left: auto;
		margin-right: auto;

		color: $color-secondary;
		font-size: 1.4rem;
		text-align: center;
		line-height: 2.2rem;

		@include MQ($M) {
			width: 90%;
		}

		.post &:last-child {
			margin-bottom: 4rem;
		}

		.post & {
			width: 100%;
			margin-bottom: 2rem;
		}
	}
}

